html,body{
    background-color: white;
}
h2{
    background-color: brown;
}
table{
border: 1px solid;

}
th{
border: 1px solid;
background-color: #b1611734 ;
}
td{
border: 1px solid;
background-color: #b1611734;
}
